{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <section id="blog" class="container">
        <div class="center">
            <h2>{{ request.GET.tag }}标签文章</h2>
        </div>
        <div class="blog">
            <div class="row">
                 <div class="col-md-8">
                     {% for article in article_list %}
                        <div class="blog-item">
                            <div class="row">
                                 <div class="col-sm-2 text-center">
                                    <div class="entry-meta">
                                        <span id="publish_date">{{ article.date_publish | date:'Y-m-d' }}</span>
                                        <span><i class="fa fa-comment"></i>{{ article.commentmodel_set.all.count  }} 评论</span>
                                        <span><i class="fa fa-heart"></i>{{ article.click_count }} 浏览</span>
                                    </div>
                                </div>
                                <div class="col-sm-10 blog-content">
                                    <a href=""><img class="img-responsive img-blog" src="/static/media/{{ article.image }}" width="100%" alt="" /></a>
                                    <h2>{{ article.title }}</h2>
                                    <a class="btn btn-primary readmore" href="{% url "article" %}?id={{ article.id }}">阅读<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div><!--/.blog-item-->
                     {% endfor %}

                    <ul class="pagination pagination-lg">
                        {% if article_list.has_previous %}
                            <li><a href="?page={{ article_list.previous_page_number }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}">&laquo;上一页</a></li>
                        {% else %}
                            <li>&laquo;上一页</li>
                        {% endif %}
                            <li class="active">{{ article_list.number }}/{{ article_list.paginator.num_pages }}</li>
                        {% if article_list.has_next %}
                            <li><a href="?page={{ article_list.next_page_number }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}">下一页 &raquo;</a></li>
                        {% else %}
                            <li>下一页 &raquo;</li>
                        {% endif %}
                    </ul><!--/.pagination-->
                </div><!--/.col-md-8-->

                <aside class="col-md-4">

    				<div class="widget archieve">
                        <h3>文章归档</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="blog_archieve">
                                    {% for archive in archive_list %}
                                        <li><a href="{% url "archive" %}?year={{ archive | slice:":4" }}&month={{ archive | slice:"5:7" }}"><i class="fa fa-angle-double-right"></i>{{ archive }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div><!--/.archieve-->

                    <div class="widget tags">
                        <h3>标签云</h3>
                        <ul class="tag-cloud">
                            {% for tag in tag_list %}
                                <li><a class="btn btn-xs btn-primary" href="{% url 'tag_name' %}?tag={{ tag.tag }}">{{ tag.tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!--/.tags-->

    				<div class="widget blog_gallery">
                        <h3>广告</h3>
                        <ul class="sidebar-gallery">
                            {% for ad in ad_list %}
                                <li><a href="http://www.w3school.com.cn"><img src="/static/media/{{ ad.adImage }}" alt="" /></a></li>
                            {% endfor %}
                        </ul>
                    </div><!--/.blog_gallery-->
    			</aside>
            </div><!--/.row-->
        </div>
    </section><!--/#blog-->
{% endblock %}